.App {
  text-align: center;
}

.react-paginate {
  list-style: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.react-paginate li {
  margin: 1rem;
}
